*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(purple, black, purple);

}


.container{
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: 5px 5px 20px white;
    

}

h1{
    text-align: center;
    color: white;
}

input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px white;
}

input:focus{
    transform: scale(1.025);
}

button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 8px;
    background-color: purple;
    box-shadow: inset -2px -2px 8px white;
    color: white;
    font-weight: 500;
}

button:hover{
    transform: scale(1.05);
}

.user{
    padding: 15px;
    margin: 10px ;
    width: 330px;
    border-radius: 6px;
    border: 2px solid white;
    box-shadow: 2px 2px 10px white;
    color: white;
}